@import "./mixins/index.scss";

.header {
	background-color: var(--dark-blue);
}

.header__content {
	max-width: 768px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	@include tablet {
		justify-content: space-between;
	}
}

.header__brand {
	max-width: 300px;
	min-width: 200px;
	flex: 3;
	margin: 0 0 0.5em 0;
	
	@include tablet {
		margin: 0;
	}
}

.header__content > .nav {
	flex: 2;
}