@import "./mixins/index.scss";

@include keyframe(pullin) {
	0% {
		opacity: 0;
		letter-spacing: 10px;
		transform: translate(-100%, 0);
	}

	100% {
		opacity: 1;
		letter-spacing: normal;
		transform: translate(0, 0);
	}
}

.hero {
	padding: 2em;
	background-color: var(--dark-blue);
	color: var(--off-white);
	

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;

	@include tablet {
		padding: 3em 5em;
	}
}

.hero:before {
	content: '';
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	background: rgba(255,255,255,0.7);

	@include tablet {
		background: linear-gradient(90deg, var(--off-white) 0%, rgba(255,255,255,0) 100%);
		width: 70%;
	}
}

.hero__lead {
	font-size: var(--font-size-6);
	font-weight: bold;
	color: var(--brand-secondary);
	position: relative;
	margin: 0.5em 0;
	text-align: center;

	@include animation(1s, 2s, pullin);

	@include tablet {
		margin: 1em 0;
		text-align: left;
		// padding: 3em 5em;
	}
}

.hero__container {
	max-width: 768px;
	margin-left: auto;
	margin-right: auto;
	/*min-height: 20em;*/
	display: flex;
	align-items: center;
	justify-content: center;

	@include tablet {
		justify-content: flex-start;
	}
}